/* 
    Formatações gerais
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inria Sans", sans-serif;
}
:root{
    font-size: 10px;
    color: #fefefe;
}
.centraliza {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fefefe;
}

body, html {
    font-size: 18px;
}

main {
    background-color: #fefefe;
}

h1{
    color: #fefefe;
}

ul {
    list-style: none;
}

.color-bg {
    background-color: #0A001B;
    color: #fefefe;
}

.container {
    width: 96rem;
    margin: 0 auto;
}


/* 
    Header
*/
ul li a{
    margin-right: 2rem;
    font-size: 1.6rem;

}

header {
    height: 6rem;
    background-color: #0A001B;
    display: flex;
    justify-content: center;
    align-items: center;
}


.color-bg h1 {
    color: #fefefe;
}


.banner {
    height: 60rem;
    width: 100%;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('./assets/background.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/*  
    Quem eu sou
*/
.auxiliar {
    font-size: 3.2rem;
    display: block;
}

.nome {
    font-size: 9.6rem;
}

/* 
    Sobre mim e interesse
*/
.sobre-mim p, .interesse p {
    text-align: center;
    padding: 4rem 2rem;
}

.btn-sobre {
    padding: 0.5rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    color: #fefefe;
    background-color: #2b69fb;
    font-size: 1.6rem;
}

.sobre-mim span {
    color: #2b69fb;
    font-style: italic;
    font-weight: bold;
}


.interesse {
    height: 40rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0)), url('./assets/background2.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* 
    Cabeçalhos
*/


.sobre-mim-titulo{
    background: url("./assets/SOBREMIM.png") no-repeat;
}

.interesse-titulo {
    background: url("./assets/INTERESSE.png") no-repeat;
}

.contato-titulo {
    background: url("./assets/CONTATO.png") no-repeat;
}
.conhecimento-titulo {
    background: url("./assets/CONHECIMENTO.png") no-repeat;
}
.depoimento-titulo {
    background: url("./assets/DEPOIMENTOS.png") no-repeat;
}
.galeria-titulo {
    background: url("./assets/GALERIA.png") no-repeat;
}

.sobre-mim-titulo, .interesse-titulo, .contato-titulo, .conhecimento-titulo, .depoimento-titulo, .galeria-titulo{
    height: 9.6rem;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


/* 
    Contato
*/
.btn-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    color: #0A001B;
    background-color: #2b69fb;
    width: 20rem;
    margin: 4rem 0 1rem 0;
    border: 1px solid #fefefe;
    cursor: pointer;
}

.btn-contato {
    padding: 5px;
    border-radius: 10px;
    color: #0A001B;
    background-color: #2b69fb;
    width: 20rem;
    border: 1px solid #fefefe;
    color: #fefefe;
    cursor: pointer;
}

.contatos {
    display: flex;
    justify-content: space-around;
    padding: 4rem;
}

.barra {
    border: 2px solid rgb(255, 255, 255);
    height: 30rem;
    border-radius: 10%;
    box-shadow: 1px 1px 3px 1px #2b69fb;
}


/* 
    Minhas habilidades
*/
.conhecimento {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0)), url('./assets/background3.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.ferramenta-cabecalho{
    display: flex;
    justify-content: space-between;
}
.barras-porcentagem {
    display: block;
    width: 300px;
    border: 2px solid #fefefe;
    margin-bottom: 3rem;
}
.ferramenta {
    display: block;
}

.conhecimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


/* 
    Depoimentos
*/

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #0A001B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 40rem;
    width: 35rem;
    margin: 4rem 2rem;
    border: 3px solid #fefefe;
    box-shadow: 1px 1px 2px 1px #2b69fb;
    border-radius: 5%;
}

.card p {
    margin-top: 3rem;
    /* width: 80%; */
    font-style: italic;
}


/* 
    Galeria
*/
.galeria {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0)), url('./assets/background4.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.projetos {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.projetos img {
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 15px 1px rgb(6, 48, 145);
}
.parte-1 {
    margin-right: 2rem;
}
/* 
    Rodape
*/

footer {
    padding: 4rem;
    background-color: #0A001B;
    color: #fefefe;
    text-align: center;
}


/* 
    Pagina de contato
*/

#contatos, #contatos h1 {
    color: #0A001B;
    margin-bottom: 3rem;
}
#contatos main {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;

}
.conteudo button {
    border: 1px solid #fefefe;
    background-color: transparent;
}

.contatos-unico, .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.formulario {
    box-shadow: 5px 5px 10px 5px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    padding: 2rem 4rem;
    background-color: #fefefe;
}

.form button {
    color: #0A001B;
    border-radius: 15px;
    border: 1px solid #0A001B;
    background-color: #fefefe;
    padding: 1rem 4rem;
    cursor: pointer;
}

.form button:hover{
    border: 1px solid #fefefe;
    background-color: #0A001B;
    color: #fefefe;
}
.formulario input {
    background-color: #0A001B;
    color: #fefefe;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
    max-width: 20rem;
}
.formulario input::placeholder, textarea::placeholder{
    color: #fefefe;
}
textarea {
    max-width: 20rem;
    background-color: #0A001B;
    color: #fefefe;
    border: none;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    height: 5rem;
    margin-bottom: 1rem;
}

.conteudo {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}
.conteudo div {
    margin-right: 2rem;
}

.cabecalho{
    padding-top: 2rem;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
